<%= form_for(purchase) do |f| %>
  <% if purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
        <% purchase.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <%= f.fields_for :purchase_details, purchase.purchase_details.each do |ff| %>
    <div class="field">
      <%= ff.label :kind %>
      <%= ff.text_field :kind %>
    </div> 
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
